################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/IntegracaoMSFlowCSharp/IntegracaoMSFlowCSharp/IntegracaoMSFlowCSharp.csproj.user
